.post {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  max-width: 50%;
  margin-bottom: 50px;
}

.post-image {
  display: block;
  width: 20%;
  object-fit: contain;
  padding-right: 10px;
  margin-bottom: auto;
}

.post-container {
  display: block;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-creator {
  font-size: small;
  font-style: italic;
  margin: 5px 0 10px 0;
}

.post-content {
  white-space: pre-line;
}

.post-delete {
  margin-top: 10px;
}

